
<div class="container">
  <div id="main-header" class="jumbotron text-center">
    <h2 id="title">Welcome to Grandma's Contact List</h2>
    <h4 id="author">Created by Alex Herrmann</h4>
  </div>

  <div id="main-content">
    {{outlet}}
  </div>
</div>
